<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django shop{% endblock title %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <header id="header">
    <ul class="nav justify-content-center nav-pills">
      {% for cat in categories %}
      <li class="nav-item">
	<a class="nav-link {% if slug == cat.id %}active{% endif %}" href="{% url 'category' cat.id %}">{{cat.name}}</a>
      </li>
      {% endfor %}
      <li class="nav-item">
	<a class="nav-link {% if slug == 'index' %}active{% endif %}" href="/">Home</a>
      </li>
      <li class="nav-item">
	<a class="nav-link {% if slug == 'payment' %}active{% endif %}" href="/payment">Payment</a>
      </li>
      <li class="nav-item">
	<a class="nav-link {% if slug == 'delivery' %}active{% endif %}" href="/delivery">Delivery</a>
      </li>
      <li class="nav-item">
	<a class="nav-link {% if slug == 'warranty' %}active{% endif %}" href="/warranty">Warranty</a>
      </li>
      <li class="nav-item">
	<a class="nav-link {% if slug == 'about' %}active{% endif %}" href="/about">About</a>
      </li>
    </ul>
    <div class="container-fluid">
      <div class="row">
	<div class="col-lg-12 col-md-12 text-center">
	  <h1 id="logo"><a href="/">{% block logotitle %}Django shop{% endblock logotitle %}</a></h1>
	</div>
      </div>
    </div>
  </header>
  {% block content %}
  {% endblock content %}
  <div id="imgViewer" hidden>
    <p>Click anywhere to close</p>
    <img scr="" id="viewerImg">
  </div>
  <footer id="footer">
  </footer>
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>

