/* Header */
.nav>li{
  display: inline-block;
  float: none;
}
.nav{
  text-align: center;
}
.nav-link.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.active{
  padding: 5px 10px !important;
  margin: 5px 5px;
}
#header a {
  color: #000;
}
#header {
  padding-top: 0px !important;
}
html {
  background: #fff;
}
body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #222;
  background: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", times, serif;
  color: #000;
}

/* Product item on main page */
.product > figure {
    display: inline-block;
}
.product {
    align-content: center;
}
.product > figure{
  height: 30vh;
  align-content: center;
  vertical-align: middle;
  /* max-width: 30vw; */
}
.product > figure img{
  /* position: relative; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
}
.post-entry .product {
  text-align: center;
  float: left;
  margin-bottom: 0px;
}
.post-entry .product a img {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.post-entry .product a:hover img {
  opacity: .4;
}
.post-entry .product h2 {
  font-family: "Playfair Display", times, serif;
  font-size: 34px;
  color: #000;
  margin-bottom: 30px;
}
.post-entry .product h2 a {
  color: #000;
}
.post-entry .product h3 a {
  color: #000;
}
.post-entry .product .meta {
  font-size: 16px;
  font-family: "Roboto", arial, sans-serif;
  color: #999999;
  display: block;
}
.post-entry .product .meta.price {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.animate-box {
    opacity: 0;
}

/* Image view and image caorusel */
#imgViewer p {
	z-index: 1;
	position: absolute;
	top: 100px;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}
#viewerImg {
	border: solid black 4px;
	position: absolute;
	height: 80%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
}
#imgViewer {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}
.carousel-img {
  height: 40vh !important;
  /* width: 100% !important; */
  margin: 0 auto !important;
}

.descriptions > table {
  display: inline-table;
}
.description {
  font-size: 18px;
}
.pr-title {
  font-size: 20px;
}
.carousel-control.left, .carousel-control.right {
  background-image:none !important;
  filter:none !important;
}
.next, .left, .right {
    /* left: 0px !important; */
    right: 0px !important;
    margin: 5px;
    padding: 5px 10px;
}
#footer {
  padding: 3em 0;
  text-align: center;
}
